@{
    ViewData["Title"] = "Home Page";
}
@* <div class="text-center">
    <h2 class="display-4"><u><b>Fees Voucher Management System</b></u></h2>
    <p><i>Welcome to Institute Fee Voucher System</i></p>
    <button class="btn btn-warning">Create Voucher</button>
    
</div> *@

<div class="banner">
    
    <div class="banner-content">

            <h2><u><b>Fees Voucher Management System</b></u></h2>
            <p><i>Generate, Preview and Print Fees Voucher easily</i></p>
            <a class="btn btn-warning" asp-controller="Voucher" asp-action="Create">Create Voucher</a>


    </div>


</div>
